@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
.navigation-avatar {
  background-image: url("../images/catalog/sedona.svg");
  width: 138px;
  height: 70px;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #E5E5E5;
}
.page-header {
  color: #000000;
  background-color: #E5E5E5;
}
.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.foto-of-sedona {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-image: url("../images/catalog/view-1.jpg");
  width: 1200px;
  height: 485px;
}
.advantages-sublist {
  text-align: center;
}
.advantages-title-list {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
.advantages-caption {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.newsletter-section-has-background {
  background-image: url("../images/catalog/view-4.jpg");
  width: 1200px;
  height: 411px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
