@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", sans-serif;
  min-width: 1200px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  background-color: #f2f2f2;
}
.button {
  display: inline-block;
  vertical-align: top;
  padding: 9px 32px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  border: 0;
  border-radius: 4px;
}
.button-secondary {
  color: #ffffff;
  background-color: #756257;
}
.button-primary {
  color: #ffffff;
  background-color: #83B3D3;
}
.button:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #756257;
}
.button-secondary:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}
.button-primary:hover {
  background-color: #68A2CA;
}
.button-secondary:hover {
  background-color: #615048;
}
.button-primary:active,
.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
}
.navigation-link-button {
  color: #FFFFFF;
  padding: 10px 20px;
  line-height: 21px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.button-subscribe {
  background: #83B3D3;
  border: 0;
  width: 200px;
  height: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.buttons {
  display: grid;
  flex: none;
  margin-left: 81px;
  padding-top: 34px;
  width: 160px;
}
.button-catalog-apply {
  height: 48px;
  width: 160px;
  background: #83B3D3;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.button-catalog {
  background: bottom;
  border: none;
  font-style: normal;
  font-weight: normal;
  margin-top: -40px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.sort-button {
  width: 48px;
  height: 48px;
}
.show-more-button {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 15px;
  width: 625px;
  font-size: 20px;
  line-height: 25px;
}
.search-block-button {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 17px;
  width: 575px;
  font-size: 20px;
  line-height: 36px;
}
main {
  flex-grow: 1;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.page-header {
  box-sizing: border-box;
  width: 100%;
  min-height: 65px;
  padding: 0 72px;
  outline: 1px solid green;
}
.navigation {
  display: flex;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 460px;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navigation-user .navigation-list {
  min-width: 16px;
  min-height: 22px;
}
.navigation-user {
  list-style-type: none;
  margin-left: auto;
  justify-content: flex-end;
}
.user-navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  text-decoration: none;
  outline: 1px solid blue;
}
.user-navigation-item:last-child {
  margin-left: 33px;
}
.navigation-link {
  display: block;
  padding: 19px 0;
  font-weight: 700;
  color: #000000;
  background: #FFFFFF;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}
.navigation-item {
  margin-right: 33px;
  outline: 1px solid orange;
}
.user-navigation-link {
  margin-left: 20px;
}
.page-content {
  flex-grow: 1;
  outline: 1px solid blue;
}
.options-has-background {
  padding: 35px 72px;
  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../images/catalog/view-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.description {
  padding: 166px 0 79px;
}
.description-sedona {
  max-width: 720px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 23px;
  margin-left: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.reasons-sedona {
  margin: auto;
  max-width: 720px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  line-height: 36px;
}
.photo-of-sedona {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  background-image: url("../images/index/view-1.jpg");
  background-repeat: no-repeat;
  padding: 51px 30px 82px;
}
.reasons {
  text-align: center;
}
.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: li;
}
.reasons-item {
  width: 400px;
  outline: 1px solid green;
  background-color: rgba(131, 179, 211, 0.2);
}
.reasons-item:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}
.reasons-item h3::after {
  content: "—№"counter(li)"—";
  counter-increment: li;
  display: block;
  margin-top: 25px;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
}
.reasons-item-description {
  min-height: 384px;
  box-sizing: border-box;
  padding: 98px 90px 77px;

}
.reasons-title {
  margin-top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.reasons-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.reasons-item-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reasons-item-illustrated {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.reasons-item-illustrated .reasons-item-description {
  max-width: 400px;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.reasons-sublist-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}
.reasons-sublist {
  list-style-type: none;
  display: flex;
  flex-wrap:wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #FFFFFF;
}
.reasons-sublist-item {
  max-width: 400px;
  min-height: 384px;
  padding: 184px 75px 79px;
  box-sizing: border-box;
  outline: 1px solid pink;
}
.advantages-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.advantages-description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  max-width: 250px;
  margin: auto;
}
.advantages-title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.hotel-offer {
  box-sizing: border-box;
  padding: 91px 240px;
  text-align: center;
}
.excerpt {
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}
.desc-text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  margin: 0;
  margin-bottom: 80px;
  text-align: center;
}
.appointment-form {
  display: flex;
  justify-content: center;
}
.information-with-subscription {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 20px;
  text-transform: uppercase;
  text-align: center;
  text-transform: uppercase;
}
.only-useful-information {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 47px;
}
.your-email {
  font-size: 18px;
  line-height: 26px;
  min-width: 600px;
  height: 60px;
  border: 0;
  padding-left: 22px;
  background: #F2F2F2;
}
.newsletter-section {
  padding: 89px 0 138px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}
.newsletter-section-has-background {
  padding: 94px 200px;
  background-image: url("../images/index/view-4.jpg");
  color: #FFFFFF;
  background-color: #83B3D3;
  background-repeat: no-repeat;
}
.page-footer {
  box-sizing: border-box;
  padding: 35px 72px;
  width: 100%;
  outline: 1px solid green;
}
.page-footer-container {
  display: flex;
  justify-content: space-around;
}
.footer-social-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.footer-social-item {
  width: 42px;
}
.footer-social .logo{
  width: 168px;
}
.footer-contacts {
  max-width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}
.logo {
  margin-left: auto;
  max-width: 120px;
}
.inner-header-title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  color: #FFFFFF;
}
.breadcrumbs-item {
  color: inherit;
}
.breadcrumbs-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}
.catalog-header {
  display: flex;
  padding: 45px 72px;
}
.catalog-products {
  display: block;
  size: 18px;
  line-height: 24px;
  padding-top: 45px;
}
.catalog-filter {
  display: flex;
  width: 100%;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}
.catalog-filter-group {
  width: 200px;
  margin: 0 20px 0 0;
  padding: 0;
  border: 0;
}
.catalog-filter-group-price {
  margin-left: auto;
  padding: 0;
  flex: none;
  width: 287px;
  border: 0;
}
.catalog-filter-list {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  list-style: none;
  padding: 0;
  width: max-content;
}
.control-label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-left: 19px;
}
.control-input {
  width: 20px;
  height: 20px;
}
.hotel-catalog {
  display: block;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}
.pagination {
  display: flex;
  list-style: none;
  margin: 0;
}
.pagination-link {
  box-sizing: border-box;
  background: #83B3D3;
  margin: 8px;
  width: 55px;
  height: 55px;
  display: inline-grid;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
}
.pagination-current {
  color: #000000;
  background: #F2F2F2;
}
.pagination-list {
  display: flex;
  padding: 33px 72px;
}
.quantity-selection {
  display: flex;
  margin-left: auto;
}
.select-control {
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  width: 287px;
  height: 48px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  text-transform: uppercase;
}
.sorting {
  display: flex;
}
.sorting-type {
  margin-left: auto;
  margin-right: 81px;
}
.catalog-filter-title {
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.control-label {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
.hotels-on-list {
  margin: 0;
  width: 100%;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
}
.place-card {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #E6E6E6;
}
.place-card:first-child {
  border-top: 1px solid #E6E6E6;
}
.place-card:first-child {
  border-top: 1px solid #E6E6E6;
}
.place-card-catalog {
  display: block;
  margin: 0;
  padding: 0 72px;
  border-bottom: 1px solid #E6E6E6;
}
.place-card-catalog:first-child {
  border-top: 1px solid #E6E6E6;
}
.button-load-more {
  padding: 30px 287px;
}
.place-card-image-link {
  flex: none;
  margin-right: 36px;
  width: 180px;
}
.place-card-image-link img {
  display: block;
  width: 100%;
  height: auto;
}
.hotel-info {
  flex-grow: 1;
}
.place-card-title {
  margin: -2px 0 0;
  font-size: 24px;
  line-height: 31px;
}
.place-card-title a {
  text-decoration: none;
  color: inherit;
}
.search-result-info {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: 31px 8px;
}
.search-result-info p {
  margin: 0;
}
.search-result-link {
  white-space: nowrap;
}
.search-result-rating-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.search-result-stars {
  color: #83B3D3;
  letter-spacing: 0.35em;
}
.search-result-rating {
  margin-top: auto;
  margin-bottom: 0;
  box-sizing: border-box;
  padding: 10px 20px 9px;
  min-width: 160px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  background-color: #F2F2F2;
  border-radius: 4px;
}
.place-card-type {
  margin-bottom: 13px;
  margin-left: 37px;
}
.search-result-link {
white-space: nowrap;
}
.place-card-type .place-card-price{
  color: #333333;
}
.hotels-on-page {
  font-size: 18px;
  line-height: 23px;
  padding-top: 16px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.follow-us {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
