@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", sans-serif;
  min-width: 1200px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  background-color: #f2f2f2;
}
.button {
  display: inline-block;
  vertical-align: top;
  padding: 9px 32px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  border: 0;
  border-radius: 4px;
}
.button-secondary {
  color: #ffffff;
  background-color: #756257;
}
.button-secondary:hover {
  background-color: #6a6b6b;
}
.button-primary {
  color: #ffffff;
  background-color: #83B3D3;
}
.button:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #756257;
}
.button-secondary:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}
.button-secondary:hover {
  background-color: #615048;
}
.button-primary:active,
.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
}
.navigation-link-button {
  color: #FFFFFF;
  padding: 10px 33px;
  line-height: 21px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.navigation-link-button:hover {
  background-color: #615048;
}
.button-subscribe {
  background: #83B3D3;
  border: 0;
  width: 200px;
  height: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button-subscribe:hover {
  background-color: #68A2CA;
}
.buttons {
  display: grid;
  flex: none;
  margin-left: 78px;
  padding-top: 62px;
  width: 160px;
}
.button-catalog-apply {
  height: 48px;
  width: 160px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  align-items: center;
}
.button-primary:hover {
  background-color: #68A2CA;
}
.button-catalog {
  background-color: transparent;
  height: 48px;
  width: 160px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.button-catalog:hover {
  color:#FFFFFF;
  opacity: 0.6;
}
.button-catalog:focus {
  border: 3px solid #83B3D3;
  color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
}
.cart-item-button {
  background-color: transparent;
}
.sort-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
}
.sort-button:hover {
  border: 2px solid #83B3D3;
}
.sort-button:focus {
  border: 2px solid #83B3D3;
}
.sort-button:active{
  outline: 2px solid #000000;
}
.show-more-button {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 15px;
  width: 625px;
  font-size: 20px;
  line-height: 25px;
}
.search-block-button {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 14px;
  width: 575px;
  font-size: 19px;
  line-height: 36px;
}
.button-favorites {
  padding: 15px 0 20px 23px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0 0 30px 30px;
}
main {
  flex-grow: 1;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.page-header {
  box-sizing: border-box;
  width: 100%;
  min-height: 65px;
  padding: 0 72px;
}
.navigation {
  display: flex;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 460px;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 26px;
}
.navigation-user .navigation-list {
  min-width: 16px;
  min-height: 22px;
}
.navigation-user {
  list-style-type: none;
  margin-left: -7px;
  justify-content: flex-end;
}
.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #DBDBDB;
}
.navigation-icon-favorit {
  margin-left: 0;
}
.navigation-icon:hover {
  color: #756257;
}
.navigation-link-favorites {
  height: 50px !important;
}
.user-navigation-link {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-right: 15px;
  align-items: center;
  width: 38px;
  height: 38px;
  text-decoration: none;
}
.navigation-logo {
  position: relative;
  margin-bottom: -5px;
}
.navigation-link {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #000000;
  background: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}
.navigation-link:hover {
  color: #756257;
}
.navigation-link-current::before {
  position: absolute;
  right: 0;
  bottom: -19px;
  left: 0;
  height: 2px;
  background-color: #756275;
  content: "";
}
.user-navigation-item {
  margin-left: 10px;
  position: relative;
}
.navigation-item {
  margin-right: 33px;
}
.favorites {
  position: inherit;
  clip: rect(0 0 0 0);
  border-radius: 50%;
  background-color: #7DB54F;
  padding: 3px;
  margin-left: 2px;
  width: 19px;
  height: 19px;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}
.page-content {
  flex-grow: 1;
}
.city-of-sedona {
  display: block;
}
.options-has-background {
  padding: 33px 72px 86px;
  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../images/catalog/view-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.description {
  padding: 63px 0 79px;
}
.description-sedona {
  max-width: 720px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 31px;
  margin-left: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.reasons-sedona {
  margin: auto;
  max-width: 720px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  line-height: 36px;
}
.photo-of-sedona {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  background-image: url("../images/index/view-1.jpg");
  background-repeat: no-repeat;
  padding: 51px 30px 82px;
}
.photo-of-sedona:after {
  background-image: url(../images/index/white-fon.svg);
  background-repeat: no-repeat;
  content: '';
  background-size: auto;
  background-position: center;
  width: 1200px;
  position: absolute;
  height: 815px;
}
.reasons {
  text-align: center;
}
.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: li;
}
.reasons-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}
.reasons-item:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}
.reasons-item h3::after {
  content: "—№"counter(li)"—";
  counter-increment: li;
  display: block;
  margin-top: 33px;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
}
.reasons-item-description {
  min-height: 384px;
  box-sizing: border-box;
  padding: 98px 90px 77px;

}
.reasons-title {
  margin-top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.reasons-text {
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding-top: 5px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.reasons-item-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reasons-item-illustrated {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.reasons-item-illustrated .reasons-item-description {
  max-width: 400px;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.reasons-sublist-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}
.reasons-sublist {
  list-style-type: none;
  display: flex;
  flex-wrap:wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #FFFFFF;
}
.reasons-sublist-item {
  max-width: 400px;
  min-height: 384px;
  padding: 87px 75px 79px 91px;
  box-sizing: border-box;
}
.advantages-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 20px;
}
.advantages-description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  min-width: 230px;
  max-width: 250px;
  margin: auto;
}
.advantages-title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.hotel-offer {
  box-sizing: border-box;
  padding: 91px 240px;
  text-align: center;
}
.excerpt {
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 32px;
}
.desc-text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  margin: 0;
  margin-bottom: 65px;
  text-align: center;
}
.appointment-form {
  display: flex;
  justify-content: center;
}
.information-with-subscription {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 31px;
  text-transform: uppercase;
  text-align: center;
  text-transform: uppercase;
}
.only-useful-information {
  width: 480px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 47px;
}
.your-email {
  font-size: 18px;
  line-height: 26px;
  min-width: 600px;
  height: 60px;
  border: 0;
  background: #F2F2F2;
}
.your-email:hover {
  background-color: #E5E5E5;
}
.your-email:focus {
  border: 3px solid #83B3D3;
}
.newsletter-section {
  padding: 91px 0 135px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}
.newsletter-section-has-background {
  padding: 91px 200px;
  background-image: url("../images/index/view-4.jpg");
  color: #FFFFFF;
  background-color: #83B3D3;
  background-repeat: no-repeat;
}
.page-footer {
  box-sizing: border-box;
  padding: 40px 72px;
  width: 100%;
}
.page-footer-container {
  display: flex;
  justify-content: space-around;
}
.footer-social {
  margin-right: 26px;
  margin-left: -5px;
  margin-top: -3px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-social-item {
  width: 30px;
  height: 30px;
}
.button-network:hover {
  color: #68A2CA;
}
.button-network:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}
.footer-social-tw {
  padding: 11px 20px 11px 0;
}
.footer-social-fb {
  padding: 11px 28px;
}
.footer-social-yt {
  padding: 12px 33px 12px 51px;
}
.footer-social .logo{
  width: 168px;
}
.footer-contacts {
  max-width: 720px;
  margin: auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}
.logo-html:hover{
  color: #756257;
}
.logo {
  margin-left: auto;
  max-width: 120px;
}
.inner-header-title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #FFFFFF;
}
.breadcrumbs-item {
  margin: 0 8px 10px 0;
  color: inherit;
}
.breadcrumbs-link {
  position: relative;
  padding-right: 20px;
  color: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}
.breadcrumbs-item:not(:last-child) .breadcrumbs-link::after {
  content: "";
}
.breadcrumbs-link::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-image: url(../images/catalog/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.catalog-header {
  display: flex;
  padding: 31px 70px;
}
.catalog-products {
  display: block;
  size: 18px;
  line-height: 24px;
  padding-top: 32px;
}
.catalog-filter {
  display: flex;
  width: 100%;
}
.catalog-filter-input {
  width: 107px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  padding: 14px 14px 12px 19px;
}
.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.catalog-filter-group {
  width: 200px;
  margin: 0 79px 0 0;
  padding: 0;
  border: 0;
}
.catalog-filter-group-price {
  margin-left: 172px;
  padding: 0;
  flex: none;
  width: 287px;
  border: 0;
}
.catalog-filter-list {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  width: max-content;
}
.control-label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-left: 19px;
}
.control-input {
  width: 20px;
  height: 20px;
}
.hotel-catalog {
  display: block;
}
.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination-link {
  box-sizing: border-box;
  background: #83B3D3;
  margin-right: 8px;
  width: 55px;
  height: 55px;
  display: inline-grid;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
}
.pagination-link:hover {
  background-color: #68A2CA;
}
.pagination-link:focus {
  border: 3px solid #756257;
}
.pagination-current {
  color: #000000;
  background: #F2F2F2;
}
.pagination-list {
  display: flex;
  padding: 33px 72px 0;
}
.popover {
  border-radius: 10%;
  position: absolute;
  top: 56px;
  right: -173px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  min-height: 232px;
  display: none;
}
.popover-open {
  display: block;
}
.popover-content {
  padding: 25px;
  height: 100%;
}
.cart-item {
  display: grid;
  grid-template-columns: 74px 146px;
}
.popover-cart {
  width: 400px;
}
.cart-item-title {
  margin-top: -7px;
  margin-bottom: -19px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.cart-item-price {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #333333;
}
.cart-items-list {
  padding:0;
}
.cart-item .button {
  margin-top: -19px;
  margin-right: -111px;
  padding: 0;
  grid-row: 1 / 3;
  grid-column: 3 / 3;
}
.cart-item + .cart-item {
  margin-top: 23px;
  padding-top: 0;
}
.icon-photo {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
.hotel-details {
  margin-left: -9px;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}
.quantity-selection {
  display: flex;
  margin-left: auto;
}
.select-control {
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  width: 287px;
  height: 48px;
  margin-top: -4px;
  margin-left: 51px;
  padding-left: 14px;
  background-image: url(../images/catalog/arrow-catalog.svg);
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  text-transform: uppercase;
}
.select-control:hover {
  border: 2px solid #83B3D3;
}
.select-control-on-page {
  margin-top: 7px;
  width: 160px;
  height: 48px;
}
.sorting {
  display: flex;
  margin-top: -4px;
  margin-right: -17px;
}
.sorting-type {
  margin-left: auto;
  margin-right: 80px;
}
.catalog-filter-title {
  padding-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.control {
  position: relative;
  display: block;
  padding-left: 36px;
  padding-bottom: 15px;
}
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 20%;
}
.control-input[type="checkbox"] + .control-mark {
  background-color: white;
}
.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url(../images/catalog/check-mark.svg);
  background-repeat: no-repeat;
  content: "";
  background-size: 90%;
  background-position: center;
}
.control:hover .control-mark{
  background-color: rgba(255, 255 ,255, 0.6);
}
.control:focus .control-mark{
  border-color: 3px solid #83B3D3;
  border-radius: 4px;
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}
.control-mark:active {
  background-color: rgba(255, 255, 255, 0.3);
}
.range-wrapper-inputs {
  display: flex;
  margin-top: -18px;
}
.range-scale {
  position: relative;
  height: 4px;
  margin-top: 30px;
  background-color: #828282;
  border-radius: 4px;
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: none;
  border-radius: 30%;
  cursor: pointer;
}
.range-toggle:focus {
  border: 3px solid #83B3D3;
}
.range-toggle:active {
  border: 2px solid #83B3D3;
}
.toggle-min {
  left: 0;
  top: -8px;
}
.toggle-max {
  right: -10px;
  top: -8px;
}
.control-label {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
.hotels-on-list {
  margin: 0;
  width: 100%;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
}
.place-card {
  display: flex;
  padding: 38px 0;
  border-bottom: 1px solid #E6E6E6;
}
.place-card:first-child {
  border-top: 1px solid #E6E6E6;
}
.place-card:nth-child(2) {
  padding-top: 20px;
}
.place-card:nth-child(3) {
  padding-top: 22px;
}
.place-card:nth-child(4) {
  padding-top: 21px;
}
.place-card-catalog {
  display: block;
  margin: 0;
  padding: 0 72px;
  border-bottom: 1px solid #E6E6E6;
}
.place-card-catalog:first-child {
  border-top: 1px solid #E6E6E6;
}
.button-load-more {
  padding: 23px 287px;
}
.button-network {
  display: block;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
}
.button-network:hover {
  color: #68A2CA;
}
.footer-social-tw {
  background-image: url("../images/index/twitter.svg");
}
.footer-social-fb {
  background-image: url("../images/index/facebook.svg");
}
.footer-social-yt {
  background-image: url(../images/index/youtube.svg);
}
.number {
  text-decoration: none;
  color: #000000;
}
.number:hover {
  color: #756257;
}
.place-card-image-link {
  flex: none;
  margin-right: 36px;
  width: 180px;
}
.place-card-image-link img {
  display: block;
  width: 100%;
  height: auto;
}
.hotel-info {
  flex-grow: 1;
}
.place-card-title {
  margin: -2px 0 0;
  font-size: 24px;
  line-height: 31px;
}
.place-card-title:hover {
  color: #756257;
}
.place-card-title a {
  text-decoration: none;
  color: inherit;
}
.search-result-info {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: 31px 8px;
}
.search-result-info p {
  margin: 0;
}
.search-result-link {
  white-space: nowrap;
}
.search-result-rating-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.search-result-stars {
  color: #83B3D3;
  letter-spacing: 0.35em;
}
.search-result-rating {
  margin-top: auto;
  margin-bottom: 0;
  box-sizing: border-box;
  padding: 10px 20px 9px;
  min-width: 160px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  background-color: #F2F2F2;
  border-radius: 4px;
}
.place-card-type {
  margin-bottom: 13px;
  margin-left: 37px;
}
.place-card-link:hover {
  color: #000000;
}
.plase-card-title:hover {
  color: #333333;
}
.search-result-link {
white-space: nowrap;
}
.place-card-type .place-card-price{
  color: #333333;
}
.hotels-on-page {
  font-size: 18px;
  line-height: 23px;
  padding-top: 16px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.follow-us {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
